@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="pseudobody">

</div>


@section Scripts{
    <script src="~/js/MyScript.js" asp-append-version="true"></script>
}
