<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reviews_AJAX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MyStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Reviews_AJAX.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" id="ref-index">Відгуки</a>
                <a class="navbar-brand" id="ref-register">Реєстрація</a>
               @* @if (Context.Session.GetString("FullName") == null)
                {*@
                        <a class="navbar-brand" id="ref-login">Увійти</a>
                @*}
                else
                {*@
                    
                        <span id="label-fullname" style="display:none;"></span>
                        <span id="label-nickname" style="display:none;"></span>
                        <a class="navbar-brand" id="ref-logout" style="display:none;">Вийти</a>
               @* }*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Reviews_AJAX;
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
